
*{
  box-sizing: border-box;
}
header{
  margin-bottom: 64px;
}
h1 {
  font-size: 48px;
  color: rgb(71, 62, 62);
  margin: 0;
}
p{
  font-size: 24px;
}

#description{
    margin: 12px;
} 

/* header p { 
  margin-bottom: 36px;
} */
a {
  background-color: rgb(167, 1, 78);
  color: white;
  border-radius: 4px;
  font-size: 24px;
  padding: 20px 36px;
  display: inline-block;
}

a:hover {
  background-color: rgb(180, 12, 90);
  text-decoration: none;
}

ol {
  list-style: none;
  padding: 0;
  width: 500px;
  margin: 36px auto;
}

li {
  background-color: rgb(223, 136, 124);
  border-radius: 6px;
  margin: 30px;
  padding: 16px;
  box-shadow: 1px 1px 5px rgba(0,0,0,0.5);
}

h2{
    color: rgb(78,13, 5);
    font-family: "Oswald", sans-serif;
}
main p {
    margin: 12px;
    color: rgb(71,29,22);
}
.daily-goal{
    margin : 12px;
    color: rgb(71,29,22)
}

.highlight-goal{
  background-color: rgb(226,115,101);
}