body {
    text-align: center;
    font-family: "Fira Sans", sans-serif;
    background-color: rgb(233, 215, 207);
  }
  
h1 {
    font-family: "Oswald", sans-serif;
    color: rgb(83, 75, 75);
  }
p {
      color: rgb(83, 75, 75);
    }
a {
    text-decoration: none;
    color: rgb(155, 41, 41);
  }
  
a:hover {
    text-decoration: underline;
  }
  