@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
body{
    background-color: rgb(235, 233, 233);
    text-align: center;
    font-family: 'Roboto',sans-serif;
    overflow: hidden;
    margin: 20px 0;
}
h1,h2 {
    font-weight: 700;
}
h1{
    color: rgb(148, 55, 255);
    font-weight: 700;
}
img{
    width: 200px;
}
main{
    font-size: 13px;
    background-color: rgb(112, 62, 252);
    color: rgb(255,255,255);
    text-align: left;
    width: 550px;
    margin: 30px auto 30px auto;
    padding: 30px 40px;
    border-radius: 10px;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.5);
}
.word-highlight{
    font-weight: bold;
}
.highlight-text{
    border-left: 5px solid rgb(243, 211, 28);
    color: rgb(243, 211, 28);
    padding-left: 15px;
}
a{
    color: rgba(0,0,0);
    text-decoration: none;
    background-color: rgb(255, 242, 169);
    padding: 2px 5px;
    border-radius: 4px;
    cursor: pointer;
}
.pdf{
    background-color: rgb(243, 211, 28);
    border-radius: 8px;
    padding: 10px 20px;
    cursor: pointer;
}
footer p{
    margin-top: 25px;
    color: rgb(150, 141, 141);
}